@import url("https://use.typekit.net/vwk0sna.css");
@import url("https://use.typekit.net/utf6pss.css");

html, body { 
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

/*** PARALLAX ***/
.parallax1 {
  background: url('books.jpg') no-repeat fixed 50% 0;
  opacity: 0.6;
  background-position: center;
  height: 100%;
  background-size: cover;
  /* color: rgba(45, 0, 71, 0.5); */
}
.parallax-overlay {
  width: 100%;
  height: 100%;
  /* background-color: rgba(117, 100, 150, 0.6);  */
  background-color: rgba(45, 0, 71, 0.5); 
  text-align: center;
  position: relative;
  display: block;
  margin: auto auto auto auto;
  z-index: -1;
}

.parallax.p2 {
  background: url('https://11ka1d3b35pv1aah0c3m9ced-wpengine.netdna-ssl.com/wp-content/uploads/2018/08/SE_180424_5862.jpg') no-repeat fixed 70% 0;
  background-size: cover;
  color: #fff;
}
.parallax.p3 {
  background: url(https://github.com/davidterpay/davidterpay.github.io/blob/master/aggdata.png?raw=true) no-repeat fixed 100% 0;
  background-size: cover;
  background-position: center;
  color: #fff;
}

/*** NAVIGATION BAR ***/

.navigation-bar-container { 
  font-family: adelle-sans, sans-serif;
  width: 100%;
  position: relative;
}

.navigation-bar {
  display: block;
  overflow: hidden;
}

.navigation-bar li {
  font-size: 190%;
  list-style-type: none;
  margin-top: 3%; 
  float: right;
  margin-left: 25%;
}

.navigation-bar li a { 
  color: white;
  text-decoration: none;
}

#logo-img { 
  float: left;
  margin-left: 9%;
}

#logo-text { 
  float: left;
  margin-left: 9%;
}

#logo-text:hover { 
  color: white;
  text-decoration: none;
}

#logo-text:focus { 
  color: white;
  text-decoration: none;
}

#links {
  float: right;
  margin-right: 10%;
  margin-left: -10%;
  margin-top: 2.5%;
  padding: 10px 18px;
}

#links:hover {
  color: white;
  text-decoration: none;
  border: 1px solid white;
}

#links:focus {
  color: white;
  text-decoration: none;
  border: 1px solid white;
}

/*** HOMEPAGE ***/

.homepage {
  background-image: url('book4.jpg');
  opacity: 0.8;
  background-position: center;
  background-position-y: 35%;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}

.homepage-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(45, 0, 71, 0.5);  
  text-align: center;
  position: relative;
  display: block;
  margin: auto auto auto auto;
  z-index: -1;
}

.homepage-text-container {
  font-family: adelle-sans, sans-serif;
  color: white;
  position: relative;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
}

.homepage-heading {
  font-weight: 600;
  font-size: 650%;
  letter-spacing: -10%;
}

.icon-title { 
font-size: 75%;
color: white;
}

.homepage-subheading {
  font-family: proxima-nova, sans-serif;
  font-weight: 500;
  /* letter-spacing: 1.15px; */
  font-size: 175%;
  text-align: justify;
  /* text-shadow: 1px 1px gray; */
  line-height: 100%;
}

.homepage-buttons-container { 
  margin: auto auto;
  text-align: justify;
}

.homepage-button {
  padding: 15px 25px;
  border: 1px solid white;
  background-color: white;
  /* background-color: rgba(255, 255, 255, 0.8); */
  font-family: adelle-sans, sans-serif;
  font-size: 110%;
  color: black;
  text-decoration: none;
  margin-right: 10px;
}

.homepage-button:hover { 
  /* background-color: transparent; */
  background-color: rgba(255, 255, 255, 0.4);
  color: black;
  text-decoration: none;
}

.homepage-button:focus { 
  background-color: rgba(255, 255, 255, 0.4);
  color: black;
  text-decoration: none;
}

.icon-button { 
  font-size: 400%;
  color: white;
  text-decoration: none;
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 275%;
  animation: float 3s ease-in-out infinite;
}

.icon-button:hover { 
  color: white;
  text-decoration: none;
}

.icon-button:focus { 
  color: white;
  text-decoration: none;
}

@keyframes float { 
  0% {transform: translatey(0px);}
  33% {transform: translatey(-10px);}
  100% {transform: translatey(0px);}
}

/* ----- SEARCH PAGE ----- */

.search-page-content {
  background-image: linear-gradient(#756496,#a094b8);
  /* background-image: linear-gradient(#BF72DF, #8C659C); */
  font-family: adelle-sans, sans-serif;
  color: black;
  text-align: center;
  position: relative;
  display: block;
  height: 100vh;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.search-page-overlay { 
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 100, 0, 0.1);  */
  opacity: 0.8;
}

.search-page-heading { 
  font-weight: 600;
  font-size: 350%;
  letter-spacing: 1px;
  color: white;
}

.search-page-subheading { 
  font-weight: 400;
  font-size: 175%;
  text-align: justify;
  line-height: 100%;
  text-align: center;
  color: white;
}

.ais-search-box {
  display: inline-block;
  float: center;
  width: 300px;
  height: 35px;
}

.ais-search-box--magnifier {
  margin-top: 7.5px;
}

.ais-search-box--reset svg{
  margin-top: 7.5px;
}

.search-page-text { 
  font-size: 100%;
  line-height: 200%;
}

.ais-hits:hover{
  cursor: pointer;
}


/*** LIST PAGE ***/

.list-page-content {
  background-image: linear-gradient(#a094b8,#756496);
  font-family: adelle-sans, sans-serif;
  color: white;
  text-align: center;
  position: relative;
  display: block;
  margin-top: 0px;
  height: 100vh;
} 

.list-page-heading { 
  font-weight: 600;
  font-size: 350%;
  letter-spacing: 1px;
  color: white;
}

.list-page-text { 
  font-size: 175%;
  line-height: 200%;
  font-weight: 400;
  text-align: center;
  color: white;
}

.list-input-box { 
  height: 30px;
  width: 600px;
  font-size: 150%;
  letter-spacing: -0.25px;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
}

#icon-button { 
  position: relative;
  margin-right: auto;
  margin-left: auto;
  font-size: 50px;
  color: white;
  text-shadow: 1px 1px gray;
  text-decoration: none;
}

fieldset { 
  border: 0px;
  line-height: 150%;
}

.submit-button {
  padding: 15px 25px;
  border: 1px solid white;
  background-color: white;
  /* background-color: rgba(255, 255, 255, 0.8); */
  font-family: adelle-sans, sans-serif;
  font-size: 110%;
  color: black;
  text-decoration: none;
  margin-right: auto;
  margin-left: auto;
}

.submit-button:hover { 
  /* background-color: transparent; */
  background-color: rgba(255, 255, 255, 0.4);
  color: black;
  text-decoration: none;
}

.submit-button:focus {
  background-color: rgba(255, 255, 255, 0.4);
  color: black;
  text-decoration: none;
  outline: 0;
}


