@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Raleway');

*{
  margin:0;
  padding:0;
}

body {
  animation: colorchange 7s;
  -webkit-animation: colorchange 7s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 240px;
  margin-bottom: -10px;
  width: 50%;
}

a {
  color: white;
  text-decoration: none;
  margin: 10px;
}

h1 {
  font-family: raleway;
  font-size: 40px;
  line-height: 1.5;
  color: #fff;
}

p {
  font-family: karla;
  font-size: 20px;
  color: #fff;
  width: 400px;
  margin-bottom: -5px;
  margin-top: -10px;
}

@keyframes colorchange { 
  0% {background: #8360c3;}
  100% {background: #2ebf91;}
}

@-webkit-keyframes colorchange { 
  0% {background: #8360c3;}
  100% {background: #2ebf91;}
}

@keyframes float { 
  0% {transform: translatey(0px);}
  33% {transform: translatey(-15px);}
  100% {transform: translatey(0px);}
}

.floating-text{
  margin-top: 20px;
  animation: float 5s ease-in-out infinite;
}

.bubbles {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.25);
  bottom: -160px;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  transition-timing-function: linear;
}
.bubbles li:nth-child(1) {
  left: 10%;
}
.bubbles li:nth-child(2) {
  left: 20%;
  width: 90px;
  height: 90px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
}
.bubbles li:nth-child(3) {
  left: 30%;
  width: 40px;
  height: 40px;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
  background-color: rgba(255, 255, 255, 0.45);
}
.bubbles li:nth-child(5) {
  left: 70%;
  width: 70px;
  height: 70px;
}
.bubbles li:nth-child(6) {
  left: 80%;
  width: 110px;
  height: 110px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  background-color: rgba(255, 255, 255, 0.2);
}
.bubbles li:nth-child(7) {
  left: 55%;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
  background-color: rgba(225, 225, 225, 0.45)
}
.bubbles li:nth-child(8) {
  left: 55%;
  width: 25px;
  height: 25px;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
}
.bubbles li:nth-child(9) {
  left: 85%;
  width: 40px;
  height: 40px;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  background-color: rgba(255, 255, 255, 0.5);
}
.bubbles li:nth-child(10) {
  left: 90%;
  width: 140px;
  height: 140px;
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
  background-color: rgba(255, 255, 255, 0.65)
}
@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-1700px) rotate(600deg);
            transform: translateY(-1700px) rotate(600deg);
  }
}

.navigation-bar {
    display: block;
    text-align: center;
    overflow: hidden;
}

.navigation-bar a {
    float: center;
    color: white;
    font-family: karla;
    font-size: 110%;
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
}

.navigation-bar a:hover {
    color: #ffbb00;
    cursor: pointer;
}
