@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Raleway');

*{
  margin:0;
  padding:0;
}

body {
  background-color: #5993E5;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 240px;
  margin-bottom: -10px;
  width: 50%;
}

a {
  color: white;
  text-decoration: none;
  margin: 10px;
}

h1 {
  font-family: raleway;
  font-size: 40px;
  line-height: 1.5;
  color: #fff;
}

p {
  font-family: karla;
  font-size: 20px;
  color: #fff;
  width: 400px;
  margin-bottom: -5px;
  margin-top: -10px;
}

.navigation-bar {
    display: block;
    text-align: center;
    overflow: hidden;
}

.navigation-bar a {
    float: center;
    color: white;
    font-family: karla;
    font-size: 110%;
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
}

.navigation-bar a:hover {
    color: #ffbb00;
    cursor: pointer;
}
