@import url("https://use.typekit.net/vwk0sna.css");
@import url("https://use.typekit.net/utf6pss.css");

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  background-color: #bbb3cc;
}

/*** PARALLAX ***/
.parallax1 {
  background: url('open-books.jpg') no-repeat fixed 50% 0;
  opacity: 0.6;
  background-position: center;
  height: 25%;
  background-size: cover;
  color: rgba(45, 0, 71, 0.5);
}

.parallax2 {
  background: url('shelf.jpg') no-repeat fixed 70% 0;
  background-position: center;
  height: 70%;
  background-size: cover;
  color: rgba(45, 0, 71, 0.5);
}

/*** NAVIGATION BAR ***/

.navigation-bar-container {
  font-family: adelle-sans, sans-serif;
  width: 100%;
  position: relative;
}

.navigation-bar {
  display: block;
  overflow: hidden;
}

.navigation-bar li {
  font-size: 190%;
  list-style-type: none;
  margin-top: 2%;
  float: right;
  margin-left: 5%;
}

.navigation-bar li a {
  color: white;
  text-decoration: none;
}

#logo-text {
  float: left;
  margin-left: 2%;
}

#logo-text:hover {
  color: white;
  text-decoration: none;
}

#logo-text:focus {
  color: white;
  text-decoration: none;
}

/* ----- PRODUCT PAGE ----- */

.productpage-content {
  font-family: adelle-sans, sans-serif;
  text-align: center;
  margin-top: 2%;
  padding-bottom: 2%;
}

.productpage-title {
  color: white;
  font-size: 300%;
  font-weight: 600;
}

/*** LISTINGS ***/

.listings{
  /* background-image: linear-gradient(#6b5c8a,#bbb3cc); */
  font-family: adelle-sans, sans-serif;
  padding-top: 50px;
}

.listings-heading {
  font-weight: 600;
  font-size: 200%;
  color: white;
  text-align: left;
  position: relative;
  display: block;
  margin-top: 2%;
  margin-left: 8.5%;
}

.grid-container {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  /* margin-top: 3%;
  margin-left: 8%; */
  padding-top: -5%;
  /* padding-left: 8%; */
  /* padding-right: 40%; */
  padding-bottom: 8%;
  margin-right: auto;
  margin-left: auto;
  grid-gap: 3%;
}

.grid-item {
  height: 275px;
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  color: white;
  font-size: 150%;
  text-align: left;
}

.grid-image {
  width: 240px;
  height: 270px;
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 2px;
  float: left;
}
